# Cpp:
*.exe

# VScode:
build
.vscode

# Python
__pycache__
*.pyc


# # 2019年09月19日22:30:03 为了linux不上传二进制文件而更新

# ## 忽略所有文件和目录
# *

# ## 增加指定扩展名文件和Makefile文件
# ### C && makefile
# !*.cpp
# !*.c
# !*.h
# !Makefile

# ### py
# !*.py

# ### md
# !*.md

# ### pic
# !*.png
# !*.jpg

# ### some others
# !*.sh
# !*.bat
# !*.gitignore


# 2019年9月22日22:01:00 发现网上找的上面的操作并没有成功,然后自己去网上探索，最后发现linux下的可执行文件不看后缀，而是看属性，所以自己刻意在编译中设置后缀，然后gitignore那个后缀就完美了

# linux cpp on what I set the sa of cpp
*.out

# macos
*.dSYM
*.DS_Store